p{
	font-family: Arial;
	font-size: 25px;
}

/* main container*/
.maincontainer{
	position:absolute;
	width:1200px;
	height:100%;
	left:20%;
	right:20%;

}

/*for title */
.titlecontainer{
	position: absolute;
	width: 100%;
	height: 500px;
	background: url('../img/background.jpg');
	background-repeat:no-repeat;
    background-size:100% 100%;
}

#myname{
	font-family: Arial;
	font-weight: bold;
	font-size: 150px;
	position: absolute;
	bottom:150px;
	left:60px;
	color:white;
}

#welcome{
	color:black;
	font-family: Calibri;
	font-style: italic;
	font-size: 48px;
	position: absolute;
	top:130px;
	left:60px;
}

/*container for detailed pages*/
.contentview{
	position:absolute;
	top:550px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

/*about section*/

#mypic{
	position: relative;
	left:30px;
}

#mypic>img{
	width: 300px;
}

#abouttext{
	position: absolute;
	top: 0px; 
	right:0px;
	width: 60%;
}

/*for project section*/
.projectcontainer{
	position: relative;
	top:10px;
}

.projectcontainer>div{
	position: relative;
	left:10px;
}

.projectcontainer>iframe{
	position: relative;
	bottom: 80px;
	left : 700px;
	width:400px;
	height:600px;
}


/*for contact section*/

.subhead{
	color: #FB8C2F;
	font-weight: bold;
	font-size: 40px;
}